@use '../common' as *;

.article{
    margin-block: 4em;
    padding-inline: 2em;
}
.sectionTitle{
    color: $cat-color;
    text-transform: capitalize;
}
.link{
    padding: 0.5em;
    color: $primary-color;
    border-radius: 0.25em;
    box-shadow: 2px 2px 10px $text-color;
    font-family: var(--font-saira);
    text-decoration: none;
    text-transform: uppercase;//capitalize;
    &[data-animal=cat]{
        background: $cat-color;
    }
    &[data-animal=dog]{
        background: $dog-color;
    }
    &[data-animal=bird]{
        background: $bird-color;
    }
}