@use '../../common' as *;

.list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 325px);
    gap: 1em;
    color: $text-color;
    font-weight: 300;
}
.listItem{
    background: $secondary-color;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 4px 4px 10px $text-color;
}
.link{
    display: block;
    color: inherit;
    text-decoration: none;
}
.imgwrapper{
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
    &::after{
        content: '';
        position: absolute;
        top: -150px;
        right: 55%;
        width: 550px;
        // width: 55%; // ??? egyik se jo igazan
        aspect-ratio: 1;    
        background: $cat-color;
        border-radius: 50%;
        opacity: 0.75;
    }
}
.img{
    object-fit: cover;
}
.articleTitle{
    padding-inline: 2rem;
    font-family: var(--font-saira);
    font-size: 1.5em;
    &[data-animal=cat]{
        color: $cat-color;
    }
    &[data-animal=dog]{
        color: $dog-color;
    }
    &[data-animal=bird]{
        color: $bird-color;
    }
}
.articleSummary{
    padding-inline: 2rem;
    // color: $text-color;
    font-size: 1.25em;
}