// Variables for theme colors and font sizes
$bg-color: #f5f5f5;
$primary-color: #fbf3ea; // vaj
$secondary-color: #cde3f0; // kek
$text-color: #2f3843;
$link-color: #259BC0;
$cat-color: #ee6762;
$dog-color: cyan;
$bird-color: limegreen;

// List

// Link